apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-app
spec:
  replicas : 1
  selector:
    matchLabels:
      app: simple-app
  template:
    metadata:
      labels:
        app: simple-app
    spec:
      containers:
      - name: simple-app
        image: agame8912/simple-app:v1.1  # Gunakan nama image yang sesuai
        imagePullPolicy: "Never"
        ports:
        - containerPort: 3000
        resources:
          requests:
            cpu: 400m

---
apiVersion: v1
kind: Service
metadata:
  name: simple-app-service
spec:
  selector:
    app: simple-app
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: NodePort
